<!-- 원 페이지 화면입니다. -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor TMI Chatbot</title>
    <link rel="stylesheet" href="C:\Users\jy\Desktop\2024-1 석사2기\딥생성모델\Yooyongjae\static\css\style.css">
</head>
<body>
    <div class="chat-container">
        <div class="professor-image-container">
            <img id="professor-img" src="C:\Users\jy\Desktop\2024-1 석사2기\딥생성모델\Yooyongjae\static\images\눈을감은_웃고있는_패딩_겨울_정면.png" alt="Professor" />
        </div>
        <div class="chat-interface">
            <div id="chat-history" class="chat-history"></div>
            <textarea id="user-input" placeholder="여기에 질문을 입력하세요..."></textarea>
            <button onclick="submitQuestion()">전송</button>
        </div>
    </div>
    <script src="C:\Users\jy\Desktop\2024-1 석사2기\딥생성모델\Yooyongjae\static\js\style.js"></script>
</body>
</html>
