<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Professor TMI Chatbot</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', path='/css/style.css')}}">
</head>
<body>
    <div class="Title">
        <div id="web-title">Professor TMI Chatbot</div>
    </div>
    <div class="chat-container">
        <div class="professor-image-container">
            <img id="professor-img" src="{{ url_for('static', path='/images/멋있는_인자한_깔끔한_양복_미소짓는_정면.png') }}" alt="Professor" />
        </div>
        <div class="chat-interface">
            <div id="chat-history" class="chat-history"></div>
            <textarea id="user-input" placeholder="여기에 질문을 입력하세요..."></textarea>
            <div class="buttons">
                <button onclick="submitQuestion()">전송</button>
                <select id="model-select">
                    <option value="model1">LLAMA</option>
                    <option value="model2">GPT</option>
                </select>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{{ url_for('static', path='/js/style.js') }}"></script>
</body>
</html>

<!--
<script>
    function submitQuestion() {
        const userInput = document.getElementById('user-input').value.trim();
        const chatHistory = document.getElementById('chat-history');
    
        // 사용자 입력을 말풍선으로 추가
        let userBubble = document.createElement('div');
        userBubble.classList.add('chat-message', 'user-message');
        userBubble.innerText = userInput;
        chatHistory.appendChild(userBubble);
    
        // 서버로 요청 보내기
        fetch('/generate', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({input_text: userInput})
        })
        .then(response => response.json())
        .then(data => {
            let professorResponse = data.response;
            let professorBubble = document.createElement('div');
            professorBubble.classList.add('chat-message', 'professor-message');
            professorBubble.innerText = professorResponse;
            chatHistory.appendChild(professorBubble);
        })
        .catch(error => console.error('Error:', error));
    
        // 입력창 초기화
        document.getElementById('user-input').value = '';
    }
    </script>
-->    